include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include kisanmitra_erpnext *.css
recursive-include kisanmitra_erpnext *.csv
recursive-include kisanmitra_erpnext *.html
recursive-include kisanmitra_erpnext *.ico
recursive-include kisanmitra_erpnext *.js
recursive-include kisanmitra_erpnext *.json
recursive-include kisanmitra_erpnext *.md
recursive-include kisanmitra_erpnext *.png
recursive-include kisanmitra_erpnext *.py
recursive-include kisanmitra_erpnext *.svg
recursive-include kisanmitra_erpnext *.txt
recursive-exclude kisanmitra_erpnext *.pyc